.skills {
    margin-top: 120px;
    &__title {
        text-align: center;
        position: relative;
        @include before_circle;
        &::before {
            content: '';
            position: absolute;
            width: 36px;
            height: 36px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4,minmax(260px, auto));
        grid-template-rows: repeat(2,minmax(260px, auto));
        gap: 13px;
        margin-top: 60px;
    }
    &__item {
        padding:30px 30px 25px 30px;
        border: 2px solid black;
        &:hover {
            transform: scale(1.1);
            transition: all 0.7s;
            background-color: $main-color;
            transform: rotate(1turn);
        }
        &-descr {
            font-size: 12px;
        }
        &-title {
            margin-top: 20px;
        }

    }
    &__percent {
        &-wrapper {
            margin-top: 120px;
            display: grid;
            grid-template-columns: repeat(3,minmax(350px,auto));
            grid-template-rows: repeat(2,minmax(70px , auto));
            column-gap: 45px;
            row-gap: 30px;

        }
        &-item {
            position: relative;
            
        }
        &-title {
            position: absolute;
            @include before_circle
        }
        &-percent {
            display: flex;
            justify-content: end;
        }
        &-bgGray {
            margin-top: 20px;
            display: block;
            height: 14px;
            width: 340px;
            background-color: grey;
        }
        &-bgYellow {
            height: 100%;
            background-color: $main-color;
        }
    }
}